<!-- list template: version 7.06 -->
 <% 
 function lng(word) {
	return __("word")
 }
 function lng(word1, word2, word3) {
	return __(word1, word2, word3)
 }
%>  
<html>
<head><meta charset="UTF-8">
	<title><%= lng("%s %s",lng("List"),lng("Atributo"))%></title>
	<script src="/bower_components/webcomponentsjs/webcomponents.min.js"></script>
	<script src="/bower_components/intro.js/minified/intro.min.js"></script>
	<script src="/js2/lokijs/build/lokijs.min.js"></script>
	<script src="/js2/x2js-v1.1.5/xml2json.min.js"></script>
	<script src="/components/app-config/app-config.js"></script>
	<script src="/components/app-util/app-util.js"></script>
	<link rel="stylesheet" href="/styles/app.css">
	<link rel="stylesheet" href="/bower_components/intro.js/minified/introjs.min.css">
	<!-- polymer Components -->
	<link rel="import" href="/bower_components/paper-material/paper-material.html">
	<link rel="import" href="/bower_components/paper-input/paper-input.html">
	<link rel="import" href="/bower_components/paper-fab/paper-fab.html">
	<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
	<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
	<link rel="import" href="/bower_components/iron-dropdown/iron-dropdown.html">
	<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
	<link rel="import" href="/bower_components/paper-button/paper-button.html">
	<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
	<link rel="import" href="/bower_components/paper-menu/paper-menu.html">
	<link rel="import" href="/bower_components/paper-item/paper-item.html">
	<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
	<!-- Forms imports -->
	<link rel="import" href="/bower_components/polymer/polymer.html">
	<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
	<link rel="import" href="/bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
	<link rel="import" href="/bower_components/neon-animation/animations/scale-up-animation.html">
	<link rel="import" href="/bower_components/neon-animation/animations/fade-out-animation.html">
<script>	
// Redirect to https
  <% if (process.env.HTTPS == 'true') { %>
  if (window.location.protocol != "https:" && window.location.href.indexOf('localhost') == -1)
	window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
  <% } %>
</script>
<style>
#btn_area {
	display: inline-block;
	margin-left: 30px;
}
#dialog {
	width: 33em;
}
.card {
	width: 80em;
	top: 30px;
	left: 15px;
}
th div {
	display: inline;
}
#menu_dialog {
	position: absolute;
	left: 45px;
}
paper-item {
	min-height: 20px;
	line-height: 35px;
}
paper-dialog {
	margin-top: 0px;
	margin-bottom: 0px;
}
paper-menu {
	margin-top: 0px;
	margin-bottom: 0px;
}
/** USER POINT - General Style **/
#attribute {
	width: 14em;
}
#description {
	width: 20em;
}
#textarea_cols {
	width: 4em;
}
#textarea_rows {
	width: 4em;
}
#enum, #enumdes {
	width: 20em;
}
#min, #max, #maxLength {
	width: 7em;
}
/** END USER POINT - General Style **/
</style>

<!-- topBar template: version 1.25 -->

<dom-module id="top-bar">
<template>
<style>
	.topbar1 {
		position: fixed;
		top: 0;
		margin-top: 0;
		width: 100%;
		z-index: 1;
		//background-color: #039BE5;
		//background-color: #26A69A;
		background-color: #0097A7; //cyan 700
		color: white;
		//height: 40px;
		font-family: verdana, sans-serif;
	}
	.topBar {
		display: flex;
		justify-content: space-between;
		width: 94%;
		margin-top: 10px;
		margin-left:3%;
		z-index: 1;
		//background-color: #039BE5; blue
		//background-color: #26A69A; green
		background-color: #0097A7; 
		color: white;
		height: 30px;
	}
	.menubar {
		width: 100%;
		position: relative;
		top: 40px;
		z-index: 1;
		display: flex;
		//justify-content: space-between;
		justify-content: flex-start;
		background-color: #007080;
		height: 30px;
	}
	.menubar > div {
		color: white;
		margin-left: 20px;
		margin-top: 5px;
	}
	.menubar > div:first-of-type {
		margin-left: 120px;
	}
	.barTitle {
		margin-top: -3px;
		font-size: 20px;
	}
	.barItem {
		font-size: 15px;
	}
	.dropdown-content {
		margin-top: 30px;
		//margin-left: 0px,
		display: block;
		position: relative;
		background-color: #fff;
		color: black;
		box-shadow: 0px 2px 6px #ccc;
		padding: 10px;
		border-radius: 3px;
    }
	.dropdown-item {
		padding: 5px;
		color: rgb(100, 100, 100);
	}
	/*.dropdown-item:not(:last-of-type) {
		border-bottom: 1px solid #eee;
	}*/
	.top_border {
		border-top: 1px solid #eee;
	}
	.bar_icon {
		padding: 0;
		width: 24px;
		height: 24px;
	}
	.inline {
		display: inline;
	}
	#dropdown_user iron-icon {
		margin-right: 5px;
	}
	#dropdown_user {
		width: 120px;
	}
</style>
	<div id="menubar" class="hide">
	  <div on-click="back"><%= lng('Back') %></div><%
	  groups = _.map(_.uniq(resources, 'Group'),function(n) { return n.Group })
	  _.forEach(groups , function(n, key) { 
		if (n != '') {%>
		<div on-click="open_<%= n %>_menu"><%= lng(n) %>
		  <iron-dropdown id="dropdown_<%= n %>"  horizontal-align="left"  vertical-align="top">
			<ul class="dropdown-content" tabindex="0"><%
			  var arr = _.map(_.filter(resources, {'Group': n}), function(n4) { return n4.name})
			  _.forEach(arr, function(n2, key2) { %>
				<li class="dropdown-item" on-click="<%= n2 %>"><iron-icon icon="chevron-right"></iron-icon><%= lng(n2.replace(/_/g,' ')) %></li><%
			  }) %>
			</ul>
		  </iron-dropdown>
		</div><%
	  } } ) %>
	</div>
	<div class="topbar1">
	  <div class="topBar">
		<div class="barItem" on-click="open_app_menu">
		  <paper-icon-button class="bar_icon" icon="menu"></paper-icon-button>
		  <div class="inline">Menu</div>
		</div>
		<div class="barTitle"><content></content></div>
		<div class="barItem" on-click="open_user_menu">
		  <paper-icon-button class="bar_icon" icon="account-circle"></paper-icon-button>
		  <div class="inline dropdown-trigger"><%= user.user%></div>
		  <iron-icon icon="arrow-drop-down"></iron-icon>
		  <iron-dropdown id="dropdown_user"  horizontal-align="right" vertical-align="top">
			<ul class="dropdown-content" tabindex="0">
			  <!--<li class="dropdown-item"><iron-icon icon="assessment"></iron-icon>Dashboard</li>
			  <hr>
			  <li class="dropdown-item"><iron-icon icon="drafts"></iron-icon>Messages</li>
			  <li class="dropdown-item"><iron-icon icon="settings"></iron-icon>Preferences</li>-->
			  <hr>
			  <li class="dropdown-item"><iron-icon icon="perm-identity"></iron-icon><%= lng('Profile') %></li>
			  <li class="dropdown-item" on-click="signout"><iron-icon icon="exit-to-app"></iron-icon><%= lng('Log Out') %></li>
			</ul>
		  </iron-dropdown>
		</div>
	  </div>
	</div>
</template>
<script>
	Polymer({
		is: "top-bar",
		back: function() {
			window.history.back();
		},
		open_user_menu: function() {
			this.$.dropdown_user.toggle()
		},
		open_app_menu: function() {
			this.$.menubar.classList.toggle('hide')
			this.$.menubar.classList.toggle('menubar')
		},
		signout: function() {
			window.location.assign(config_server() + "signout")
		}<%
	_.forEach(groups, function(n, key) {
	  if(n != '') {%>
		,open_<%= n %>_menu: function() {
			this.$.dropdown_<%= n%>.toggle()
		}<%
	}})
	_.forEach(resources, function(n, key) { 
	  if (n.resource.type == "page") {%>
		,<%= n.name %>: function() {
			window.location.assign(config_server() + "<%= n.path.substring(1) %>")
		}<%
	}})%>
	})
</script>
</dom-module>

<!-- list-columns: version 5.11 -->

<dom-module id="Attribute-list-columns">
<template>
<style>
	.green {
		background-color: green;
		color: white;
		height: 30px;
	}
	.orange {
		color: white;
		background-color: orange;
		height: 30px;
	}
	#dialog {
		width: 27em;
	}
	#dialog table div {
		width: 5.5em;
		text-align: center;
		padding-top: 5px;
		height: 28px;
	}
</style>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" exit-animation="fade-out-animation">
		<h2 class="card_title"><%= lng("%s %s",lng("Columns"),lng("Atributo"))%></h2>
			<paper-dialog-scrollable>
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id"><%= lng('Id')%></label></td>
				<td><div id="id" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="pos"><%= lng('Pos')%></label></td>
				<td><div id="pos" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="model_name"><%= lng('Model')%></label></td>
				<td><div id="model_name" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="attribute"><%= lng('Attribute')%></label></td>
				<td><div id="attribute" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="description"><%= lng('Description')%></label></td>
				<td><div id="description" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="type"><%= lng('Type')%></label></td>
				<td><div id="type" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="required"><%= lng('Required')%></label></td>
				<td><div id="required" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="hide"><%= lng('Hide')%></label></td>
				<td><div id="hide" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="omit"><%= lng('Omit')%></label></td>
				<td><div id="omit" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="textarea_cols"><%= lng('TextArea Cols')%></label></td>
				<td><div id="textarea_cols" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="textarea_rows"><%= lng('TextArea Rows')%></label></td>
				<td><div id="textarea_rows" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="enum"><%= lng('Enum')%></label></td>
				<td><div id="enum" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="enumdes"><%= lng('EnumDes')%></label></td>
				<td><div id="enumdes" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="ref_model_name"><%= lng('Reference Model')%></label></td>
				<td><div id="ref_model_name" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="model_key"><%= lng('Mdl Key')%></label></td>
				<td><div id="model_key" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="key_type"><%= lng('Key Type')%></label></td>
				<td><div id="key_type" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="model_display_name"><%= lng('mdl Display')%></label></td>
				<td><div id="model_display_name" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="maxLength"><%= lng('Max Length')%></label></td>
				<td><div id="maxLength" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="min"><%= lng('Min Value')%></label></td>
				<td><div id="min" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="max"><%= lng('Max Value')%></label></td>
				<td><div id="max" on-click="change_field"></div></td>
			</tr>
			</table>
			</paper-dialog-scrollable>
		<div class="buttons">
			<div class="card_line">
				<paper-button id="update_btn" class="btn" on-click="submit_form" raised><%= lng('Change ')%></paper-button>
				<paper-button id="exit_btn" class="btn" dialog-confirm raised><%= lng('Exit')%></paper-button>
			</div>
		</div>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Attribute-list-columns",
		properties: {
			//updated: false,
			//column: {}
		},
		open_list_columns: function(column) {
			this.updated= false,
			this.column= column
			this.show_field("id")
			this.show_field("pos")
			this.show_field("model_name")
			this.show_field("attribute")
			this.show_field("description")
			this.show_field("type")
			this.show_field("required")
			this.show_field("hide")
			this.show_field("omit")
			this.show_field("textarea_cols")
			this.show_field("textarea_rows")
			this.show_field("enum")
			this.show_field("enumdes")
			this.show_field("ref_model_name")
			this.show_field("model_key")
			this.show_field("key_type")
			this.show_field("model_display_name")
			this.show_field("maxLength")
			this.show_field("min")
			this.show_field("max")
			this.$.dialog.open()
		},
		change_field: function(e) {
			var field = e.toElement.id
			this.column[field] = !this.column[field]
			this.show_field(field)
		},
		show_field: function(field) {
			if (this.column[field])
			{  
				this.$[field].innerHTML = "<%= lng('Show')%>"
				this.$[field].classList.remove("orange")
				this.$[field].classList.add("green")
			}
			else
			{
				this.$[field].innerHTML = "<%= lng('Hide')%>"
				this.$[field].classList.remove("green")
				this.$[field].classList.add("orange")
			}
		},
		submit_form: function() {
			this.updated = true
			this.$.dialog.close()
			this.fire('close')
		}
	})
</script>
</dom-module>

<!-- new-form: version 5.22 -->

<dom-module id="Attribute-new">
<template>
	<iron-ajax id="ajax" handle-as="json" on-response="validate_record" on-error="ajax_error"></iron-ajax>
	<iron-ajax id="ajax2" method="POST" handle-as="json" on-response="record_created" on-error="ajax_error"></iron-ajax>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" exit-animation="fade-out-animation">
		<Model-select id="Model_select_dialog" on-item_selected="set_select_field"></Model-select>
		<Attribute-select id="Attribute_select_dialog" on-item_selected="set_select_field"></Attribute-select>
		<h2 class="card_title"><%= lng("%s %s",lng("Create"),lng("Atributo"))%></h2>
		<paper-dialog-scrollable>
		  <form id="form" action="javascript:void(0);" on-submit="create">
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id"><%= lng('Id')%></label></td>
				<td><input id="id" type="number" name="id" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="pos"><%= lng('Pos')%></label></td>
				<td><input id="pos" type="number" name="pos"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="model"><%= lng('Model')%></label></td>
				<td><iron-icon icon="find-in-page" field="model"></iron-icon><input id="model" type="text" name="model" key=0 disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="attribute"><%= lng('Attribute')%><strong class="red"> *</strong></label></td>
				<td><input id="attribute" type="text" name="attribute" required></td>
			</tr>
			<tr>
				<td><label class="left_label" for="description"><%= lng('Description')%></label></td>
				<td><input id="description" type="text" name="description"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="type"><%= lng('Type')%></label></td>
				<td><select id="type" name="type">
						<option value="integer"><%= lng('integer')%></option>
						<option value="string"><%= lng('string')%></option>
						<option value="float"><%= lng('float')%></option>
						<option value="date"><%= lng('date')%></option>
						<option value="boolean"><%= lng('boolean')%></option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="required"><%= lng('Required')%></label></td>
				<td><select id="required" name="required">
						<option value="true"><%= lng('Yes')%></option>
						<option value="false"><%= lng('No')%></option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="hide"><%= lng('Hide')%></label></td>
				<td><select id="hide" name="hide">
						<option value="true"><%= lng('Yes')%></option>
						<option value="false"><%= lng('No')%></option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="omit"><%= lng('Omit')%></label></td>
				<td><select id="omit" name="omit">
						<option value="true"><%= lng('Yes')%></option>
						<option value="false"><%= lng('No')%></option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="textarea_cols"><%= lng('TextArea Cols')%></label></td>
				<td><input id="textarea_cols" type="number" name="textarea_cols"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="textarea_rows"><%= lng('TextArea Rows')%></label></td>
				<td><input id="textarea_rows" type="number" name="textarea_rows"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="enum"><%= lng('Enum')%></label></td>
				<td><textarea id="enum" name="enum" rows="3" cols="60"></textarea></td>
			</tr>
			<tr>
				<td><label class="left_label" for="enumdes"><%= lng('EnumDes')%></label></td>
				<td><textarea id="enumdes" name="enumdes" rows="3" cols="60"></textarea></td>
			</tr>
			<tr>
				<td><label class="left_label" for="ref_model"><%= lng('Reference Model')%></label></td>
				<td><iron-icon icon="find-in-page" field="ref_model" on-click="select_field_b"></iron-icon><input id="ref_model" type="text" name="ref_model" key=0 on-click="select_field" readonly></td>
			</tr>
			<tr>
				<td><label class="left_label" for="model_key"><%= lng('Mdl Key')%></label></td>
				<td><input id="model_key" type="text" name="model_key"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="key_type"><%= lng('Key Type')%></label></td>
				<td><select id="key_type" name="key_type">
						<option value="integer"><%= lng('integer')%></option>
						<option value="string"><%= lng('string')%></option>
						<option value="float"><%= lng('float')%></option>
						<option value="date"><%= lng('date')%></option>
						<option value="boolean"><%= lng('boolean')%></option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="model_display"><%= lng('mdl Display')%></label></td>
				<td><iron-icon icon="find-in-page" field="model_display" on-click="select_field_b"></iron-icon><input id="model_display" type="text" name="model_display" key=0 on-click="select_field" readonly></td>
			</tr>
			<tr>
				<td><label class="left_label" for="maxLength"><%= lng('Max Length')%></label></td>
				<td><input id="maxLength" type="number" name="maxLength"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="min"><%= lng('Min Value')%></label></td>
				<td><input id="min" type="number" name="min"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="max"><%= lng('Max Value')%></label></td>
				<td><input id="max" type="number" name="max"></td>
			</tr>
			</table>
			<div class="buttons">
				<input id="submit_btn" class="hide" type="submit" value="CREAR">
				<div class="card_line">
					<%= lng('Repeat ')%><input id="repeat" type="checkbox" name="repeat">
					<paper-button id="create_btn" class="btn" on-click="submit_form" raised><%= lng('Create')%></paper-button>
					<paper-button id="exit_btn" class="btn" dialog-confirm raised><%= lng('Exit')%></paper-button>
				</div>
			</div>
		  </form>
		</paper-dialog-scrollable>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Attribute-new",
		open_dialog: function() {
			this.clear()
/** USER POINT - Open New Dialog **/
			//this.$.model.value = model.name
			//this.$.model.key = model.id
			this.$.model.value = arguments[0].name
			this.$.model.key = arguments[0].id
			this.$.required.value = false
			this.$.omit.value = false
			this.$.hide.value = false
/** END USER POINT - Open New Dialog **/
			this.$.dialog.open()
		},
		clear: function() {
			this.$.id.value = ''
			this.$.pos.value = ''
			//this.$.model.value = ''
			//this.$.model.key = 0
			this.$.attribute.value = ''
			this.$.description.value = ''
			this.$.textarea_cols.value = ''
			this.$.textarea_rows.value = ''
			this.$.enum.value = ''
			this.$.enumdes.value = ''
			this.$.ref_model.value = ''
			this.$.ref_model.key = 0
			this.$.model_key.value = ''
			this.$.model_display.value = ''
			this.$.model_display.key = 0
			this.$.maxLength.value = ''
			this.$.min.value = ''
			this.$.max.value = ''
		},
		select_field_b: function(e) {
			this.$[e.toElement.getAttribute("field")].click()
		},
		select_field: function(e) {
			this.field = e.toElement.id
			if (this.field == "model")
				this.$.Model_select_dialog.open_select_dialog(url_params().app_id)
			if (this.field == "ref_model")
				this.$.Model_select_dialog.open_select_dialog(url_params().app_id)
			if (this.field == "model_display")
				this.$.Attribute_select_dialog.open_select_dialog(url_params().model_id)
		},
		set_select_field: function(e) {
			this.$[this.field].value = this.$[e.srcElement.id].item.name
			this.$[this.field].key = this.$[e.srcElement.id].item.key
		},
		create: function() {
			this.$.ajax2.url = config_server() + "Attribute"
			var record = {}
			record.pos = Number(this.$.pos.value)
			record.model = this.$.model.key
			  record.attribute = this.$.attribute.value
			  record.description = this.$.description.value
			  record.type = this.$.type.value
			  record.required = this.$.required.value
			  record.hide = this.$.hide.value
			  record.omit = this.$.omit.value
			record.textarea_cols = Number(this.$.textarea_cols.value)
			record.textarea_rows = Number(this.$.textarea_rows.value)
			  record.enum = this.$.enum.value
			  record.enumdes = this.$.enumdes.value
			record.ref_model = this.$.ref_model.key
			  record.model_key = this.$.model_key.value
			  record.key_type = this.$.key_type.value
			record.model_display = this.$.model_display.key
			record.maxLength = Number(this.$.maxLength.value)
			record.min = Number(this.$.min.value)
			record.max = Number(this.$.max.value)			
			this.$.ajax2.params = record
			this.$.ajax2.generateRequest()
		},
		record_created: function() {
			/** Validate Resource Authorized **/
			if (this.$.ajax2.lastResponse.auth_msg)
			{
				alert(this.$.ajax2.lastResponse.auth_msg)
				return
			}
/** USER POINT - Record Created **/
/** END USER POINT - Record Created **/
			alert("<%= lng('Record Created')%>")
			// ask for create another one
			if (!this.$.repeat.checked) {
				this.$.dialog.close()
				this.fire('close')
			} else 
				this.clear()
		},
		submit_form: function() {
			if (!isNaN(this.$.id.value))
			{
				if (this.$.id.value > 0)
				{
					this.$.ajax.url = config_server() + "Attribute/exist/"+this.$.id.value
					this.$.ajax.generateRequest()
				}
				else this.$.submit_btn.click()
			} else
				this.$.submit_btn.click()
		},
		validate_record: function() {
			if (this.$.ajax.lastResponse.exist) 
				alert("<%= lng('Record already Exist')%>")
			else
				this.$.submit_btn.click()
		},
		ajax_error: function() {
			console.log(this.$.ajax.lastError)
			alert("<%= lng('Error Processing Request: ')%>", this.$.ajax.lastError)
		}
/** USER POINT - New Functions **/
/** END USER POINT - New Functions **/		
	})
</script>
</dom-module>

<!-- display-form: version 5.20 -->

<dom-module id="Attribute-display">
<template>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" 	exit-animation="fade-out-animation">
		<h2 class="card_title"><%= lng("%s %s",lng("Display"),lng("Atributo"))%></h2>
		  <paper-dialog-scrollable>
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id"><%= lng('Id')%></label></td>
				<td><input id="id" type="number" name="id" value="{{item.id}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="pos"><%= lng('Pos')%></label></td>
				<td><input id="pos" type="number" name="pos" value="{{item.pos}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="model"><%= lng('Model')%></label></td>
				<td><input id="model" type="text" name="model" value="{{item.model_name}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="attribute"><%= lng('Attribute')%></label></td>
				<td><input id="attribute" type="text" name="attribute" value="{{item.attribute}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="description"><%= lng('Description')%></label></td>
				<td><input id="description" type="text" name="description" value="{{item.description}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="type"><%= lng('Type')%></label></td>
				<td><select id="type" name="type" disabled>
						<option value="integer"><%= lng('integer')%></option>
						<option value="string"><%= lng('string')%></option>
						<option value="float"><%= lng('float')%></option>
						<option value="date"><%= lng('date')%></option>
						<option value="boolean"><%= lng('boolean')%></option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="required"><%= lng('Required')%></label></td>
				<td><select id="required" name="required" disabled>
						<option value="true"><%= lng('Yes')%></option>
						<option value="false"><%= lng('No')%></option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="hide"><%= lng('Hide')%></label></td>
				<td><select id="hide" name="hide" disabled>
						<option value="true"><%= lng('Yes')%></option>
						<option value="false"><%= lng('No')%></option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="omit"><%= lng('Omit')%></label></td>
				<td><select id="omit" name="omit" disabled>
						<option value="true"><%= lng('Yes')%></option>
						<option value="false"><%= lng('No')%></option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="textarea_cols"><%= lng('TextArea Cols')%></label></td>
				<td><input id="textarea_cols" type="number" name="textarea_cols" value="{{item.textarea_cols}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="textarea_rows"><%= lng('TextArea Rows')%></label></td>
				<td><input id="textarea_rows" type="number" name="textarea_rows" value="{{item.textarea_rows}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="enum"><%= lng('Enum')%></label></td>
				<td><textarea id="enum" name="enum" rows="3" cols="60" value="{{item.enum}}" disabled></textarea></td>
			</tr>
			<tr>
				<td><label class="left_label" for="enumdes"><%= lng('EnumDes')%></label></td>
				<td><textarea id="enumdes" name="enumdes" rows="3" cols="60" value="{{item.enumdes}}" disabled></textarea></td>
			</tr>
			<tr>
				<td><label class="left_label" for="ref_model"><%= lng('Reference Model')%></label></td>
				<td><input id="ref_model" type="text" name="ref_model" value="{{item.ref_model_name}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="model_key"><%= lng('Mdl Key')%></label></td>
				<td><input id="model_key" type="text" name="model_key" value="{{item.model_key}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="key_type"><%= lng('Key Type')%></label></td>
				<td><select id="key_type" name="key_type" disabled>
						<option value="integer"><%= lng('integer')%></option>
						<option value="string"><%= lng('string')%></option>
						<option value="float"><%= lng('float')%></option>
						<option value="date"><%= lng('date')%></option>
						<option value="boolean"><%= lng('boolean')%></option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="model_display"><%= lng('mdl Display')%></label></td>
				<td><input id="model_display" type="text" name="model_display" value="{{item.model_display_name}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="maxLength"><%= lng('Max Length')%></label></td>
				<td><input id="maxLength" type="number" name="maxLength" value="{{item.maxLength}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="min"><%= lng('Min Value')%></label></td>
				<td><input id="min" type="number" name="min" value="{{item.min}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="max"><%= lng('Max Value')%></label></td>
				<td><input id="max" type="number" name="max" value="{{item.max}}" disabled></td>
			</tr>
			</table>
		  </paper-dialog-scrollable>
		<div class="buttons">
			<div class="card_line">
				<paper-button id="exit_btn" class="btn" dialog-confirm raised><%= lng('Exit')%></paper-button>
			</div>
		</div>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Attribute-display",
		open_display_dialog: function(item) {
			this.item = item
			this.set_select_fields(item)
/** USER POINT - Open Display Dialog **/
/** END USER POINT - Open Display Dialog **/
			this.$.dialog.open()
		},
		set_select_fields(item) {
			this.$.type.value = item.type
			this.$.required.value = item.required
			this.$.hide.value = item.hide
			this.$.omit.value = item.omit
			this.$.key_type.value = item.key_type
			}
/** USER POINT - Display Functions **/
/** END USER POINT - Display Functions **/
	})
</script>
</dom-module>

<!-- edit-form: version 5.21 -->

<dom-module id="Attribute-edit">
<template>
	<iron-ajax id="ajax" method="PUT" handle-as="json" on-response="record_updated" on-error="ajax_error"></iron-ajax>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" 	exit-animation="fade-out-animation">
		<Model-select id="Model_select_dialog" on-item_selected="set_select_field"></Model-select>
		<Attribute-select id="Attribute_select_dialog" on-item_selected="set_select_field"></Attribute-select>
		<h2 class="card_title"><%= lng("%s %s",lng("Edit"),lng("Atributo"))%></h2>
		<paper-dialog-scrollable>
		<form id="form" action="javascript:void(0);" on-submit="update">
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id"><%= lng('Id')%></label></td>
				<td><input id="id" type="number" name="id" value="{{item.id}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="pos"><%= lng('Pos')%></label></td>
				<td><input id="pos" type="number" name="pos" value="{{item.pos}}"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="model"><%= lng('Model')%></label></td>
				<td><iron-icon icon="find-in-page" field="model"></iron-icon><input id="model" type="text" name="model" key={{item.model_id}} value="{{item.model_name}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="attribute"><%= lng('Attribute')%><strong class="red"> *</strong></label></td>
				<td><input id="attribute" type="text" name="attribute" value="{{item.attribute}}" required></td>
			</tr>
			<tr>
				<td><label class="left_label" for="description"><%= lng('Description')%></label></td>
				<td><input id="description" type="text" name="description" value="{{item.description}}"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="type"><%= lng('Type')%></label></td>
				<td><select id="type" name="type">
						<option value="integer"><%= lng('integer')%></option>
						<option value="string"><%= lng('string')%></option>
						<option value="float"><%= lng('float')%></option>
						<option value="date"><%= lng('date')%></option>
						<option value="boolean"><%= lng('boolean')%></option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="required"><%= lng('Required')%></label></td>
				<td><select id="required" name="required">
						<option value="true"><%= lng('Yes')%></option>
						<option value="false"><%= lng('No')%></option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="hide"><%= lng('Hide')%></label></td>
				<td><select id="hide" name="hide">
						<option value="true"><%= lng('Yes')%></option>
						<option value="false"><%= lng('No')%></option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="omit"><%= lng('Omit')%></label></td>
				<td><select id="omit" name="omit">
						<option value="true"><%= lng('Yes')%></option>
						<option value="false"><%= lng('No')%></option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="textarea_cols"><%= lng('TextArea Cols')%></label></td>
				<td><input id="textarea_cols" type="number" name="textarea_cols" value="{{item.textarea_cols}}"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="textarea_rows"><%= lng('TextArea Rows')%></label></td>
				<td><input id="textarea_rows" type="number" name="textarea_rows" value="{{item.textarea_rows}}"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="enum"><%= lng('Enum')%></label></td>
				<td><textarea id="enum" name="enum" rows="3" cols="60" value="{{item.enum}}"></textarea></td>
			</tr>
			<tr>
				<td><label class="left_label" for="enumdes"><%= lng('EnumDes')%></label></td>
				<td><textarea id="enumdes" name="enumdes" rows="3" cols="60" value="{{item.enumdes}}"></textarea></td>
			</tr>
			<tr>
				<td><label class="left_label" for="ref_model"><%= lng('Reference Model')%></label></td>
				<td><iron-icon icon="find-in-page" field="ref_model" on-click="select_field_b"></iron-icon><input id="ref_model" type="text" name="ref_model" key={{item.ref_model_id}} value="{{item.ref_model_name}}" on-click="select_field" readonly></td>
			</tr>
			<tr>
				<td><label class="left_label" for="model_key"><%= lng('Mdl Key')%></label></td>
				<td><input id="model_key" type="text" name="model_key" value="{{item.model_key}}"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="key_type"><%= lng('Key Type')%></label></td>
				<td><select id="key_type" name="key_type">
						<option value="integer"><%= lng('integer')%></option>
						<option value="string"><%= lng('string')%></option>
						<option value="float"><%= lng('float')%></option>
						<option value="date"><%= lng('date')%></option>
						<option value="boolean"><%= lng('boolean')%></option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="model_display"><%= lng('mdl Display')%></label></td>
				<td><iron-icon icon="find-in-page" field="model_display" on-click="select_field_b"></iron-icon><input id="model_display" type="text" name="model_display" key={{item.model_display_id}} value="{{item.model_display_name}}" on-click="select_field" readonly></td>
			</tr>
			<tr>
				<td><label class="left_label" for="maxLength"><%= lng('Max Length')%></label></td>
				<td><input id="maxLength" type="number" name="maxLength" value="{{item.maxLength}}"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="min"><%= lng('Min Value')%></label></td>
				<td><input id="min" type="number" name="min" value="{{item.min}}"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="max"><%= lng('Max Value')%></label></td>
				<td><input id="max" type="number" name="max" value="{{item.max}}"></td>
			</tr>
			</table>
			<div class="buttons">
			  <input id="submit_update" class="hide" type="submit" value="CAMBIAR">
			  <div class="card_line">
				<paper-button id="update_btn" class="btn" on-click="submit_form" raised><%= lng('Change ')%></paper-button>
				<paper-button id="exit_btn" class="btn" dialog-confirm raised><%= lng('Exit')%></paper-button>
			  </div>
			</div>
		</form>
		</paper-dialog-scrollable>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Attribute-edit",
		open_dialog: function(item) {
			this.item = item
			this.set_select_fields(item)
/** USER POINT - Open Edit Dialog **/
/** END USER POINT - Open Edit Dialog **/
			this.$.dialog.open()
		},
		set_select_fields(item) {
			this.$.type.value = item.type
			this.$.required.value = item.required
			this.$.hide.value = item.hide
			this.$.omit.value = item.omit
			this.$.key_type.value = item.key_type
			},
		select_field_b: function(e) {
			this.$[e.toElement.getAttribute("field")].click()
		},
		select_field: function(e) {
			this.field = e.toElement.id
			if (this.field == "model")
				this.$.Model_select_dialog.open_select_dialog(url_params().app_id)
			if (this.field == "ref_model")
				this.$.Model_select_dialog.open_select_dialog(url_params().app_id)
			if (this.field == "model_display")
				this.$.Attribute_select_dialog.open_select_dialog(url_params().model_id)
		},
		set_select_field: function(e) {
			this.$[this.field].value = this.$[e.srcElement.id].item.name
			this.$[this.field].key = this.$[e.srcElement.id].item.key
		},
		submit_form: function() {
			this.$.submit_update.click()
		},
		update: function() {
			var record = {}
			record.id = Number(this.$.id.value)
			record.pos = Number(this.$.pos.value)
			record.model = this.$.model.key
			record.attribute = this.$.attribute.value
			record.description = this.$.description.value
			record.type = this.$.type.value
			record.required = this.$.required.value
			record.hide = this.$.hide.value
			record.omit = this.$.omit.value
			record.textarea_cols = Number(this.$.textarea_cols.value)
			record.textarea_rows = Number(this.$.textarea_rows.value)
			record.enum = this.$.enum.value
			record.enumdes = this.$.enumdes.value
			record.ref_model = this.$.ref_model.key
			record.model_key = this.$.model_key.value
			record.key_type = this.$.key_type.value
			record.model_display = this.$.model_display.key
			record.maxLength = Number(this.$.maxLength.value)
			record.min = Number(this.$.min.value)
			record.max = Number(this.$.max.value)
			this.$.ajax.url = config_server() + "Attribute/" +record.id
			this.$.ajax.params = record
			this.$.ajax.generateRequest()
		},
		record_updated: function() {
			/** Validate Resource Authorized **/
			if (this.$.ajax2.lastResponse.auth_msg)
			{
				alert(this.$.ajax2.lastResponse.auth_msg)
				return
			}
/** USER POINT - Record Updated **/
/** END USER POINT - Record Updated **/
			alert("<%= lng('Record Updated')%>")
			this.$.dialog.close()
			this.fire('close')
		},
		ajax_error: function() {
			console.log(this.$.ajax.lastError)
			alert("<%= lng('Error Processing Request: ')%>", this.$.ajax.lastError)
		}
/** USER POINT - Edit Functions **/
/** END USER POINT - Edit Functions **/
	})
</script>
</dom-module>

<!-- delete-form: version 5.21 -->

<dom-module id="Attribute-delete">
<template>
	<iron-ajax id="ajax" method="DELETE" handle-as="json" on-response="record_deleted" on-error="ajax_error"></iron-ajax>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" exit-animation="fade-out-animation">
		<h2 class="card_title"><%= lng("%s %s",lng("Delete"),lng("Atributo"))%></h2>
		<paper-dialog-scrollable>
		<form id="form" action="javascript:void(0);" on-submit="delete">
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id"><%= lng('Id')%></label></td>
				<td><input id="id" type="number" name="id" value="{{item.id}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="pos"><%= lng('Pos')%></label></td>
				<td><input id="pos" type="number" name="pos" value="{{item.pos}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="model"><%= lng('Model')%></label></td>
				<td><input id="model" type="text" name="model" value="{{item.model_name}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="attribute"><%= lng('Attribute')%></label></td>
				<td><input id="attribute" type="text" name="attribute" value="{{item.attribute}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="description"><%= lng('Description')%></label></td>
				<td><input id="description" type="text" name="description" value="{{item.description}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="type"><%= lng('Type')%></label></td>
				<td><select id="type" name="type" disabled>
						<option value="integer"><%= lng('integer')%></option>
						<option value="string"><%= lng('string')%></option>
						<option value="float"><%= lng('float')%></option>
						<option value="date"><%= lng('date')%></option>
						<option value="boolean"><%= lng('boolean')%></option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="required"><%= lng('Required')%></label></td>
				<td><select id="required" name="required" disabled>
						<option value="true"><%= lng('Yes')%></option>
						<option value="false"><%= lng('No')%></option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="hide"><%= lng('Hide')%></label></td>
				<td><select id="hide" name="hide" disabled>
						<option value="true"><%= lng('Yes')%></option>
						<option value="false"><%= lng('No')%></option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="omit"><%= lng('Omit')%></label></td>
				<td><select id="omit" name="omit" disabled>
						<option value="true"><%= lng('Yes')%></option>
						<option value="false"><%= lng('No')%></option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="textarea_cols"><%= lng('TextArea Cols')%></label></td>
				<td><input id="textarea_cols" type="number" name="textarea_cols" value="{{item.textarea_cols}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="textarea_rows"><%= lng('TextArea Rows')%></label></td>
				<td><input id="textarea_rows" type="number" name="textarea_rows" value="{{item.textarea_rows}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="enum"><%= lng('Enum')%></label></td>
				<td><textarea id="enum" name="enum" rows="3" cols="60" value="{{item.enum}}" disabled></textarea></td>
			</tr>
			<tr>
				<td><label class="left_label" for="enumdes"><%= lng('EnumDes')%></label></td>
				<td><textarea id="enumdes" name="enumdes" rows="3" cols="60" value="{{item.enumdes}}" disabled></textarea></td>
			</tr>
			<tr>
				<td><label class="left_label" for="ref_model"><%= lng('Reference Model')%></label></td>
				<td><input id="ref_model" type="text" name="ref_model" value="{{item.ref_model_name}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="model_key"><%= lng('Mdl Key')%></label></td>
				<td><input id="model_key" type="text" name="model_key" value="{{item.model_key}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="key_type"><%= lng('Key Type')%></label></td>
				<td><select id="key_type" name="key_type" disabled>
						<option value="integer"><%= lng('integer')%></option>
						<option value="string"><%= lng('string')%></option>
						<option value="float"><%= lng('float')%></option>
						<option value="date"><%= lng('date')%></option>
						<option value="boolean"><%= lng('boolean')%></option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="model_display"><%= lng('mdl Display')%></label></td>
				<td><input id="model_display" type="text" name="model_display" value="{{item.model_display_name}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="maxLength"><%= lng('Max Length')%></label></td>
				<td><input id="maxLength" type="number" name="maxLength" value="{{item.maxLength}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="min"><%= lng('Min Value')%></label></td>
				<td><input id="min" type="number" name="min" value="{{item.min}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="max"><%= lng('Max Value')%></label></td>
				<td><input id="max" type="number" name="max" value="{{item.max}}" disabled></td>
			</tr>
			</table>
		<div class="buttons">
			<input id="submit_delete" class="hide" type="submit" value="BORRAR">
			<div class="card_line">
				<paper-button id="delete_btn" class="btn" on-click="form_submit" raised><%= lng('Delete')%></paper-button>
				<paper-button id="exit_btn" class="btn" dialog-confirm raised><%= lng('Exit')%></paper-button>
			</div>
		</div>
		</form>
		</paper-dialog-scrollable>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Attribute-delete",
		open_delete_dialog: function(item) {
			this.item = item
			this.set_select_fields(item)
/** USER POINT - Open Delete Dialog **/
/** END USER POINT - Open Delete Dialog **/
			this.$.dialog.open()
		},
		set_select_fields(item) {
			this.$.type.value = item.type
			this.$.required.value = item.required
			this.$.hide.value = item.hide
			this.$.omit.value = item.omit
			this.$.key_type.value = item.key_type
			},
		form_submit: function() {
			this.$.submit_delete.click()
		},
		delete: function() {
			this.$.ajax.url = config_server() + "Attribute/"+this.item.id
			this.$.ajax.generateRequest()
		},
		record_deleted: function() {
			/** Validate Resource Authorized **/
			if (this.$.ajax2.lastResponse.auth_msg)
			{
				alert(this.$.ajax2.lastResponse.auth_msg)
				return
			}
/** USER POINT - Record Deleted **/
/** END USER POINT - Record Deleted **/
			alert("<%= lng('Record Deleted')%>")
			this.$.dialog.close()
			this.fire('close')
		},
		ajax_error: function() {
			console.log(this.$.ajax.lastError)
			alert("<%= lng('Error Processing Request: ')%>", this.$.ajax.lastError)
		}
/** USER POINT - Delete Functions **/
/** END USER POINT - Delete Functions **/
	})
</script>
</dom-module>

<!-- select-model: version 5.10 -->
 <% 
 function lng(word) {
	return __("word")
 }
 function lng(word1, word2, word3) {
	return __(word1, word2, word3)
 }
%>  

<dom-module id="Model-select">
<template>
	<iron-ajax id="ajax" method='GET' handle-as="json" on-response="get_data" on-error="ajax_error"></iron-ajax>
	<paper-dialog id="dialog" vertical layout>
		<iron-icon icon="close" on-click="close" mini></iron-icon>  
		<div><input id="filtro" type="{{tipo}}" on-input="filter" placeholder="<%= lng('Reference Model')%>..."></div>
		<paper-dialog-scrollable>
		<template id="template_items" is="dom-repeat" items="{{filtered_data}}">
			<div id="{{item.id}}" on-click="select">{{item.name}}</div>
		</template>
		</paper-dialog-scrollable>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Model-select",
		open_select_dialog: function(app_id) {
			this.$.filtro.value = ""
			this.$.ajax.url= config_server() +"Model?app="+app_id
			var db = new loki()
			this.data = db.addCollection("data_Model")
			this.filtered_data = []
			this.load_data()
			this.tipo="string" //filter type
			this.$.dialog.open()
		},
		close: function() {
			this.$.dialog.close()
		},
		load_data: function() {
			this.$.ajax.generateRequest()
		},
		get_data: function() {
			while(this.data.data[0]) {
				this.data.remove(this.data.data[0])
			}
			for (i=0; i< this.$.ajax.lastResponse.length; i++)
				this.data.insert(this.$.ajax.lastResponse[i])
			this.filter()
		},
		filter: function() {
			this.filtered_data = []
			this.cur_filter = { name: { $contains: this.$.filtro.value} }
			this.result_set = this.data.chain().find(this.cur_filter).simplesort("name", false)
			this.filtered_data = this.result_set.data()
		},
		select: function(e) {
			this.item = {}
			this.item.key = e.toElement.id
			this.item.name = e.toElement.innerHTML
			this.$.dialog.close()
			//this.close()
			this.fire('item_selected')
		},
		ajax_error: function() {
			console.log(this.$.ajax.lastError)
			alert("<%= lng('Error Processing Request: ')%>", this.$.ajax.lastError)
		}
	})
</script>
</dom-module>
<!-- select-model: version 5.10 -->
 <% 
 function lng(word) {
	return __("word")
 }
 function lng(word1, word2, word3) {
	return __(word1, word2, word3)
 }
%>  

<dom-module id="Attribute-select">
<template>
	<iron-ajax id="ajax" method='GET' handle-as="json" on-response="get_data" on-error="ajax_error"></iron-ajax>
	<paper-dialog id="dialog" vertical layout>
		<iron-icon icon="close" on-click="close" mini></iron-icon>  
		<div><input id="filtro" type="{{tipo}}" on-input="filter" placeholder="<%= lng('mdl Display')%>..."></div>
		<paper-dialog-scrollable>
		<template id="template_items" is="dom-repeat" items="{{filtered_data}}">
			<div id="{{item.id}}" on-click="select">{{item.name}}</div>
		</template>
		</paper-dialog-scrollable>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Attribute-select",
		open_select_dialog: function(app) {
			this.$.filtro.value = ""
			this.$.ajax.url= config_server() +"Attribute"
			var db = new loki()
			this.data = db.addCollection("data_Attribute")
			this.filtered_data = []
			this.load_data()
			this.tipo="string" //filter type
			this.$.dialog.open()
		},
		close: function() {
			this.$.dialog.close()
		},
		load_data: function() {
			this.$.ajax.generateRequest()
		},
		get_data: function() {
			while(this.data.data[0]) {
				this.data.remove(this.data.data[0])
			}
			for (i=0; i< this.$.ajax.lastResponse.length; i++)
				this.data.insert(this.$.ajax.lastResponse[i])
			this.filter()
		},
		filter: function() {
			this.filtered_data = []
			this.cur_filter = { name: { $contains: this.$.filtro.value} }
			this.result_set = this.data.chain().find(this.cur_filter).simplesort("name", false)
			this.filtered_data = this.result_set.data()
		},
		select: function(e) {
			this.item = {}
			this.item.key = e.toElement.id
			this.item.name = e.toElement.innerHTML
			this.$.dialog.close()
			//this.close()
			this.fire('item_selected')
		},
		ajax_error: function() {
			console.log(this.$.ajax.lastError)
			alert("<%= lng('Error Processing Request: ')%>", this.$.ajax.lastError)
		}
	})
</script>
</dom-module>

<dom-module id="Attribute-list">
<template>
<!--USER POINT - List Style-->
<!--END USER POINT - List Style-->
	<iron-ajax id="ajax" handle-as="json" on-response="load_data" on-error="ajax_error"></iron-ajax>
	<Attribute-list-columns id="Attribute_list_columns" on-close="update_columns"></Attribute-list-columns>
	<Attribute-new id="Attribute_new_dialog" on-close="reload"></Attribute-new>
	<Attribute-display id="Attribute_display_dialog"></Attribute-display>
	<Attribute-edit id="Attribute_edit_dialog" on-close="reload"></Attribute-edit>
	<Attribute-delete id="Attribute_delete_dialog" on-close="reload"></Attribute-delete>
	<Model-select id="Model_select_dialog" on-item_selected="set_select_field"></Model-select>
	<Attribute-select id="Attribute_select_dialog" on-item_selected="set_select_field"></Attribute-select>	
	<!--<div class="card_title"><%= lng("%s %s",lng("List"),lng("Atributo"))%></div>-->
<!--USER POINT - List Header-->
<!--END USER POINT - List Header-->
	<select id="filter" on-change="input_type" disabled>  <%= lng('Id')%>
		<option value="id"><%= lng('Id')%></option>  <%= lng('Pos')%>
		<option value="pos"><%= lng('Pos')%></option>
		<option value="model_name"><%= lng('Model')%></option>  <%= lng('Attribute')%>
		<option value="attribute"><%= lng('Attribute')%></option>  <%= lng('Description')%>
		<option value="description"><%= lng('Description')%></option>  <%= lng('Type')%>
		<option value="type"><%= lng('Type')%></option>  <%= lng('Required')%>
		<option value="required"><%= lng('Required')%></option>  <%= lng('Hide')%>
		<option value="hide"><%= lng('Hide')%></option>  <%= lng('Omit')%>
		<option value="omit"><%= lng('Omit')%></option>  <%= lng('TextArea Cols')%>
		<option value="textarea_cols"><%= lng('TextArea Cols')%></option>  <%= lng('TextArea Rows')%>
		<option value="textarea_rows"><%= lng('TextArea Rows')%></option>  <%= lng('Enum')%>
		<option value="enum"><%= lng('Enum')%></option>  <%= lng('EnumDes')%>
		<option value="enumdes"><%= lng('EnumDes')%></option>
		<option value="ref_model_name"><%= lng('Reference Model')%></option>  <%= lng('Mdl Key')%>
		<option value="model_key"><%= lng('Mdl Key')%></option>  <%= lng('Key Type')%>
		<option value="key_type"><%= lng('Key Type')%></option>
		<option value="model_display_name"><%= lng('mdl Display')%></option>  <%= lng('Max Length')%>
		<option value="maxLength"><%= lng('Max Length')%></option>  <%= lng('Min Value')%>
		<option value="min"><%= lng('Min Value')%></option>  <%= lng('Max Value')%>
		<option value="max"><%= lng('Max Value')%></option>
	</select>
	<select id="op" disabled>   
		<option value="$eq"><%= lng('Equal to')%></option>
		<option value="$ne"><%= lng('Different to')%></option>
		<option value="$contains"><%= lng('Contains')%></option>
		<option value="$gte"><%= lng('Greater or Equal to')%></option>
		<option value="$lte"><%= lng('Less or Equal to')%></option>
	</select>
	<input id="filtro" type="{{tipo}}" on-click="select_field">
	<select id="select" class="hide">
	  <template is="dom-repeat" items="{{opts}}">
		<option value="{{item.op}}">{{item.des}}</option>
	  </template>
	</select>
	<select id="logic" on-change="logic_operator">
		<option value="-">---</option>
		<option value="$and">And</option>
		<option value="$or">Or</option>
	</select>
	<paper-button class="btn" on-click="filter" raised><%= lng('Find')%></paper-button>
	<strong id="total">{{regs}}</strong>
	<div id="btn_area">
		<paper-fab id="btn_add" mini on-click="new" icon="add"></paper-fab>
		<paper-fab id="btn_down" mini on-click="download" icon="file-download"></paper-fab>
		<paper-fab id="btn_print" mini on-click="print" icon="print"></paper-fab>
		<paper-fab id="btn_help" mini on-click="help" icon="help"></paper-fab>
		<!--<paper-fab id="btn_menu" mini on-click="menu" icon="list"></paper-fab>-->
	</div>
	<a href="{{download_data}}" id="link" class="hide" download="Atributo.xml">Download Data</a>
	<br>
	<select id="filter2" class="hide" on-change="input_type2">
		<option value="id"><%= lng('Id')%></option>
		<option value="pos"><%= lng('Pos')%></option>
		<option value="model_name"><%= lng('Model')%></option>
		<option value="attribute"><%= lng('Attribute')%></option>
		<option value="description"><%= lng('Description')%></option>
		<option value="type"><%= lng('Type')%></option>
		<option value="required"><%= lng('Required')%></option>
		<option value="hide"><%= lng('Hide')%></option>
		<option value="omit"><%= lng('Omit')%></option>
		<option value="textarea_cols"><%= lng('TextArea Cols')%></option>
		<option value="textarea_rows"><%= lng('TextArea Rows')%></option>
		<option value="enum"><%= lng('Enum')%></option>
		<option value="enumdes"><%= lng('EnumDes')%></option>
		<option value="ref_model_name"><%= lng('Reference Model')%></option>
		<option value="model_key"><%= lng('Mdl Key')%></option>
		<option value="key_type"><%= lng('Key Type')%></option>
		<option value="model_display_name"><%= lng('mdl Display')%></option>
		<option value="maxLength"><%= lng('Max Length')%></option>
		<option value="min"><%= lng('Min Value')%></option>
		<option value="max"><%= lng('Max Value')%></option>
	</select>
	<select id="op2" class="hide" >   
		<option value="$eq"><%= lng('Equal to')%></option>
		<option value="$ne"><%= lng('Different to')%></option>
		<option value="$contains"><%= lng('Contains')%></option>
		<option value="$gte"><%= lng('Greater or Equal to')%></option>
		<option value="$lte"><%= lng('Less or Equal to')%></option>
	</select>
	<input id="filtro2" class="hide" type="{{tipo2}}" on-click="select_field">
	<select id="select2" class="hide">
	  <template is="dom-repeat" items="{{opts2}}">
		<option value="{{item.op}}">{{item.des}}</option>
	  </template>
	</select>

	<paper-dialog id="menu_dialog"> 
		<paper-menu>
			<paper-item on-click="display" style="min-height:20px;line-height:35px;"><%= lng('Display')%></paper-item>
			<paper-item on-click="edit" style="min-height:20px;line-height:35px;"><%= lng('Edit')%></paper-item>
			<paper-item on-click="delete" style="min-height:20px;line-height:35px;"><%= lng('Delete')%></paper-item>
<!--USER POINT - List Detail Menu-->
<!--END USER POINT - List Detail Menu-->
		</paper-menu>
	</paper-dialog>
	<table id="data_table" class="table_list" style="width:100%">
	<thead>
	  <tr>
		<th id="th_ops" class="ops"><paper-icon-button on-click="list_columns" icon="settings"></paper-icon-button></th>
		<th class="col_id" on-click="sort_by_field"><%= lng('Id')%><div id="id_sort_d" class="hide">
			<iron-icon id="id_sort" icon="arrow-drop-up"></iron-icon></div></th>
		<th class="col_pos" on-click="sort_by_field"><%= lng('Pos')%><div id="pos_sort_d" class="hide">
			<iron-icon id="pos_sort" icon="arrow-drop-up"></iron-icon></div></th>
		<th class="col_model_name" on-click="sort_by_field"><%= lng('Model')%><div id="model_name_sort_d" class="hide">
			<iron-icon id="model_name_sort" icon="arrow-drop-up"></iron-icon></div></th>
		<th class="col_attribute" on-click="sort_by_field"><%= lng('Attribute')%><div id="attribute_sort_d" class="hide">
			<iron-icon id="attribute_sort" icon="arrow-drop-up"></iron-icon></div></th>
		<th class="col_description" on-click="sort_by_field"><%= lng('Description')%><div id="description_sort_d" class="hide">
			<iron-icon id="description_sort" icon="arrow-drop-up"></iron-icon></div></th>
		<th class="col_type" on-click="sort_by_field"><%= lng('Type')%><div id="type_sort_d" class="hide">
			<iron-icon id="type_sort" icon="arrow-drop-up"></iron-icon></div></th>
		<th class="col_required" on-click="sort_by_field"><%= lng('Required')%><div id="required_sort_d" class="hide">
			<iron-icon id="required_sort" icon="arrow-drop-up"></iron-icon></div></th>
		<th class="col_hide" on-click="sort_by_field"><%= lng('Hide')%><div id="hide_sort_d" class="hide">
			<iron-icon id="hide_sort" icon="arrow-drop-up"></iron-icon></div></th>
		<th class="col_omit" on-click="sort_by_field"><%= lng('Omit')%><div id="omit_sort_d" class="hide">
			<iron-icon id="omit_sort" icon="arrow-drop-up"></iron-icon></div></th>
		<th class="col_textarea_cols" on-click="sort_by_field"><%= lng('TextArea Cols')%><div id="textarea_cols_sort_d" class="hide">
			<iron-icon id="textarea_cols_sort" icon="arrow-drop-up"></iron-icon></div></th>
		<th class="col_textarea_rows" on-click="sort_by_field"><%= lng('TextArea Rows')%><div id="textarea_rows_sort_d" class="hide">
			<iron-icon id="textarea_rows_sort" icon="arrow-drop-up"></iron-icon></div></th>
		<th class="col_enum" on-click="sort_by_field"><%= lng('Enum')%><div id="enum_sort_d" class="hide">
			<iron-icon id="enum_sort" icon="arrow-drop-up"></iron-icon></div></th>
		<th class="col_enumdes" on-click="sort_by_field"><%= lng('EnumDes')%><div id="enumdes_sort_d" class="hide">
			<iron-icon id="enumdes_sort" icon="arrow-drop-up"></iron-icon></div></th>
		<th class="col_ref_model_name" on-click="sort_by_field"><%= lng('Reference Model')%><div id="ref_model_name_sort_d" class="hide">
			<iron-icon id="ref_model_name_sort" icon="arrow-drop-up"></iron-icon></div></th>
		<th class="col_model_key" on-click="sort_by_field"><%= lng('Mdl Key')%><div id="model_key_sort_d" class="hide">
			<iron-icon id="model_key_sort" icon="arrow-drop-up"></iron-icon></div></th>
		<th class="col_key_type" on-click="sort_by_field"><%= lng('Key Type')%><div id="key_type_sort_d" class="hide">
			<iron-icon id="key_type_sort" icon="arrow-drop-up"></iron-icon></div></th>
		<th class="col_model_display_name" on-click="sort_by_field"><%= lng('mdl Display')%><div id="model_display_name_sort_d" class="hide">
			<iron-icon id="model_display_name_sort" icon="arrow-drop-up"></iron-icon></div></th>
		<th class="col_maxLength" on-click="sort_by_field"><%= lng('Max Length')%><div id="maxLength_sort_d" class="hide">
			<iron-icon id="maxLength_sort" icon="arrow-drop-up"></iron-icon></div></th>
		<th class="col_min" on-click="sort_by_field"><%= lng('Min Value')%><div id="min_sort_d" class="hide">
			<iron-icon id="min_sort" icon="arrow-drop-up"></iron-icon></div></th>
		<th class="col_max" on-click="sort_by_field"><%= lng('Max Value')%><div id="max_sort_d" class="hide">
			<iron-icon id="max_sort" icon="arrow-drop-up"></iron-icon></div></th>
	  </tr>
	</thead>
	<!--<tfoot>
	<tr>
		<td class="ops"></td>
		<td class="col_id"></td>
		<td class="col_pos"></td>
		<td class="col_model_name"></td>
		<td class="col_attribute"></td>
		<td class="col_description"></td>
		<td class="col_type"></td>
		<td class="col_required"></td>
		<td class="col_hide"></td>
		<td class="col_omit"></td>
		<td class="col_textarea_cols"></td>
		<td class="col_textarea_rows"></td>
		<td class="col_enum"></td>
		<td class="col_enumdes"></td>
		<td class="col_ref_model_name"></td>
		<td class="col_model_key"></td>
		<td class="col_key_type"></td>
		<td class="col_model_display_name"></td>
		<td class="col_maxLength"></td>
		<td class="col_min"></td>
		<td class="col_max"></td>
	</tr>
	</tfoot>-->
	<tbody>
	<template id="template_items" is="dom-repeat" items="{{filtered_data}}">
	<tr>
		<td id="td_ops" class="ops">
			<paper-icon-button key="{{item.id}}" on-click="item_menu_toggle" class="icon-op" icon="list"></paper-icon-button>
		</td>
		<template is="dom-if" if="{{column.id}}"><td>{{item.id}}</td></template>
		<template is="dom-if" if="{{column.pos}}"><td>{{item.pos}}</td></template>
		<template is="dom-if" if="{{column.model_name}}"><td>{{item.model_name}}</td></template>
		<template is="dom-if" if="{{column.attribute}}"><td>{{item.attribute}}</td></template>
		<template is="dom-if" if="{{column.description}}"><td>{{item.description}}</td></template>
		<template is="dom-if" if="{{column.type}}"><td>{{item.type_des}}</td></template>
		<template is="dom-if" if="{{column.required}}"><td>{{item.required_des}}</td></template>
		<template is="dom-if" if="{{column.hide}}"><td>{{item.hide_des}}</td></template>
		<template is="dom-if" if="{{column.omit}}"><td>{{item.omit_des}}</td></template>
		<template is="dom-if" if="{{column.textarea_cols}}"><td>{{item.textarea_cols}}</td></template>
		<template is="dom-if" if="{{column.textarea_rows}}"><td>{{item.textarea_rows}}</td></template>
		<template is="dom-if" if="{{column.enum}}"><td>{{item.enum}}</td></template>
		<template is="dom-if" if="{{column.enumdes}}"><td>{{item.enumdes}}</td></template>
		<template is="dom-if" if="{{column.ref_model_name}}"><td>{{item.ref_model_name}}</td></template>
		<template is="dom-if" if="{{column.model_key}}"><td>{{item.model_key}}</td></template>
		<template is="dom-if" if="{{column.key_type}}"><td>{{item.key_type_des}}</td></template>
		<template is="dom-if" if="{{column.model_display_name}}"><td>{{item.model_display_name}}</td></template>
		<template is="dom-if" if="{{column.maxLength}}"><td>{{item.maxLength}}</td></template>
		<template is="dom-if" if="{{column.min}}"><td>{{item.min}}</td></template>
		<template is="dom-if" if="{{column.max}}"><td>{{item.max}}</td></template>
	</tr>
	</template>
	</tbody>
</table>
</template>
<script>
Polymer({
	is: "Attribute-list",
	properties: {
		//cur_sort: { field: "id", isdesc: false },
		//cur_filter: {}
	},
	ready: function() {
//USER POINT - List Start Ready
//END USER POINT - List Start Ready
		// For Sharepoint
		if (typeof String.prototype.startsWith != 'function') {
			// see below for better implementation!
			String.prototype.startsWith = function (str){
				return this.indexOf(str) === 0;
			}
		}
		this.$.ajax.url = config_server() + "Attribute"
		this.cur_sort = { field: "id", isdesc: true }
		this.cur_filter = {}
		var _model = [{column: "id", type: "integer", display: false},
				{column: "pos", type: "integer", display: true},
				{column: "model_id", type: "integer", model: "Model", display: false},
				{column: "model_name", type: "string", model: "Model", display: false},
				{column: "attribute", type: "string", display: true},
				{column: "description", type: "string", display: true},
				{column: "type", enum: ["integer","string","float","date","boolean"], enumdes: ["<%= lng("integer")%>","<%= lng("string")%>","<%= lng("float")%>","<%= lng("date")%>","<%= lng("boolean")%>"], display: true},
				{column: "required", enum: [true,false], enumdes: ["<%= lng("Yes")%>","<%= lng("No")%>"], display: true},
				{column: "hide", enum: [true,false], enumdes: ["<%= lng("Yes")%>","<%= lng("No")%>"], display: false},
				{column: "omit", enum: [true,false], enumdes: ["<%= lng("Yes")%>","<%= lng("No")%>"], display: false},
				{column: "textarea_cols", type: "integer", display: false},
				{column: "textarea_rows", type: "integer", display: false},
				{column: "enum", type: "string", display: false},
				{column: "enumdes", type: "string", display: false},
				{column: "ref_model_id", type: "integer", model: "Model", display: false},
				{column: "ref_model_name", type: "string", model: "Model", display: false},
				{column: "model_key", type: "string", display: false},
				{column: "key_type", enum: ["integer","string","float","date","boolean"], enumdes: ["<%= lng("integer")%>","<%= lng("string")%>","<%= lng("float")%>","<%= lng("date")%>","<%= lng("boolean")%>"], display: false},
				{column: "model_display_id", type: "integer", model: "Attribute", display: false},
				{column: "model_display_name", type: "string", model: "Attribute", display: false},
				{column: "maxLength", type: "integer", display: false},
				{column: "min", type: "integer", display: false},
				{column: "max", type: "integer", display: false}
		]
		this.enums = {}
		this.enums.type = {integer:"<%= lng('integer')%>",string:"<%= lng('string')%>",float:"<%= lng('float')%>",date:"<%= lng('date')%>",boolean:"<%= lng('boolean')%>"}
		this.enums.required = {true:"<%= lng('Yes')%>",false:"<%= lng('No')%>"}
		this.enums.hide = {true:"<%= lng('Yes')%>",false:"<%= lng('No')%>"}
		this.enums.omit = {true:"<%= lng('Yes')%>",false:"<%= lng('No')%>"}
		this.enums.key_type = {integer:"<%= lng('integer')%>",string:"<%= lng('string')%>",float:"<%= lng('float')%>",date:"<%= lng('date')%>",boolean:"<%= lng('boolean')%>"}
		//var _data = <%- data %>
		var db = new loki()
		this.data = db.addCollection("data_Attribute")
		this.model = db.addCollection("model_Attribute")
		this.reload()
		for (i=0; i< _model.length ; i++)
			this.model.insert(_model[i])
		_model = {}
		this.input_type()
		//this.set_filter() //and columns & sort from localStorage
		var intro = introJs()
		intro.setOptions({
			doneLabel: '<%= lng('Exit')%>',
			steps: [
				{ element: '#btn_help',
				intro: 'Para Obtener Ayuda acerca de esta pgina, puede utilizar el boton de ayuda'}],
			showStepNumbers:false
		})
		/*document.addEventListener('DOMContentLoaded', function() {
			setTimeout(function(){
				intro.start()
			}, 600);	
		}, false);*/
//USER POINT - List End Ready
		//this.model_par = (%- model %)
		this.$.filter.value = 'model_name'
		this.input_type()
		this.$.op.value = '$eq'
		//this.$.filtro.value = this.model_par.model
		this.$.filtro.value = url_params().model
		this.model_par = {}
		this.model_par.id = url_params().model_id
		this.model_par.name = url_params().model
		this.filter()
		this.show_columns()
//END USER POINT - List End Ready
	},
	help: function() {

		var intro = introJs()
		
		intro.setOptions({ 
			skipLabel: '<%= lng('Exit')%>', 
			nextLabel: '<%= lng('Next')%>', 
			prevLabel: '<%= lng('Previous')%>',
			doneLabel: '<%= lng('Exit')%>',
			showStepNumbers:false,
			steps: [
				{ element: '#filter',
				intro: 'Puede seleccionar cualquier campo como filtro de la lista'},
				{ element: '#op',
				intro: 'operacin de comparacin'},
				{ element: '#filtro',
				intro: 'valor de comparacin'},
				{ element: '#logic',
				intro: 'Se puede agregar un segundo filtro'},
				{ element: '#btn_add',
				intro: 'Botn para crear nuevo registro'},
				{ element: '#btn_down',
				intro: 'Boton para descargar archivo de datos, el cual puede ser leido en Excel'},
				{ element: '#btn_print',
				intro: 'Botn de Impresin, se puede exportar a pdf'},
				{element: '#data_table',
				intro: 'Lista de registros filtrados',
				position: 'top'},
				{element: '#th_ops',
				intro: 'Consigurar columnas a mostrar en lista de registros'},
				{element: '#td_ops',
				intro: 'Opciones para:<br> - Visualizar Registro<br> - Editar Registro<br> - Borrar Registro'}
			]
		})
		intro.start()
	},
	list_columns: function() {

		this.$.Attribute_list_columns.open_list_columns(this.column)
	},
	update_columns: function() {
		var columns = {}
		this.column = this.$.Attribute_list_columns.column
		for (i=0; i < this.model.data.length; i++ )
		{
			this.model.data[i].display = this.column[this.model.data[i].column]
			columns[this.model.data[i].column] = this.column[this.model.data[i].column]
		}
		localStorage["Attribute-list-columns"] = JSON.stringify(columns)
		this.show_columns()
		// reset filter
		this.$.filter.value = "id"
		this.$.op.value = "$eq"
		this.$.filtro.value = ""
		this.$.logic.value = "-"
		this.logic_operator()
		this.filter()
	},
	show_columns: function() {
		var column = ''
		this.column = {}
		var el = []
		for (i=0; i < this.model.data.length; i++)
		{
			this.column[this.model.data[i].column] = this.model.data[i].display
			column = 'col_'+ this.model.data[i].column
			el = this.$.data_table.querySelectorAll('.'+column)
			for (j=0; j< el.length; j++)
				if (this.model.data[i].display)
					el[j].classList.remove("hide")
				else
					el[j].classList.add("hide")
		}
	},
	date_dma: function(datex) {
		return datex_dma(datex)
	},
	logic_operator: function() {
		if (this.$.logic.value == "-") {
			this.$.filter2.className = "hide"
			this.$.op2.className = "hide"
			this.$.filtro2.className = "hide"
			this.$.select2.className = "hide"
		} else
		{
			this.$.filter2.className = ""
			this.$.op2.className = ""
			this.input_type(2)
			//this.$.filtro2.className = ""
			//this.$.select2.className = ""
		}
	},
	select_field: function(e) {
		this.field = e.toElement.id
		var filter = ""
		switch (this.field) {
		  case "filtro":
			filter = "filter"
		  break;
		  case "filtro2":
			filter = "filter2"
		  break;
		}
		if (filter != "")
		{
		  if (this.$[filter].value == "model_name"){
			this.$.Model_select_dialog.style.top = e.toElement.offsetParent.offsetTop+"px"
			//this.$.Model_select_dialog.style.left = "-100px"
			this.$.Model_select_dialog.open_select_dialog(url_params().app_id)
		  }
		  if (this.$[filter].value == "ref_model_name"){
			this.$.Model_select_dialog.style.top = e.toElement.offsetParent.offsetTop+"px"
			//this.$.Model_select_dialog.style.left = "-100px"
			this.$.Model_select_dialog.open_select_dialog(url_params().app_id)
		  }
		  if (this.$[filter].value == "model_display_name"){
			this.$.Attribute_select_dialog.style.top = e.toElement.offsetParent.offsetTop+"px"
			//this.$.Attribute_select_dialog.style.left = "-100px"
			this.$.Attribute_select_dialog.open_select_dialog(url_params().model_id)
		  }
		}
	},
	set_select_field: function(e) {
		this.$[this.field].value = this.$[e.srcElement.id].item.name
		this.model_par.name = this.$[e.srcElement.id].item.name
		this.model_par.id = this.$[e.srcElement.id].item.key
	},
	set_filter: function() {
		if (localStorage["Attribute-list-filter"])
		{
			var stored_filter = JSON.parse(localStorage["Attribute-list-filter"])
			this.$.filter.value = stored_filter.filter
			this.$.op.value = stored_filter.op
			this.input_type()
			var column = this.model.find({ "column": this.$.filter.value})
			if (column[0].enum)
				if (column[0].type != "number")
					this.$.select.value = stored_filter.value
				else
					this.$.select.value = Number(stored_filter.value)
			else
				if (column[0].type != "number")
					this.$.filtro.value = stored_filter.value
				else
					this.$.filtro.value = Number(stored_filter.value)
			if  (stored_filter.filter2)
			{
				this.$.logic.value = stored_filter.logic
				this.logic_operator()
				this.$.filter2.value = stored_filter.filter2
				this.$.op2.value = stored_filter.op2
				this.input_type(2)
				var column = this.model.find({ "column": this.$.filter2.value})
				if (column[0].enum)
					if (column[0].type != "number")
						this.$.select2.value = stored_filter.value2
					else
						this.$.select2.value = Number(stored_filter.value2)
				else
					if (column[0].type != "number")
						this.$.filtro2.value = stored_filter.value2
					else
						this.$.filtro2.value = Number(stored_filter.value2)
			}
			this.filter()
		}
		if (localStorage["Attribute-list-columns"])
		{
			var columns = JSON.parse(localStorage["Attribute-list-columns"])
			for (i=0; i < this.model.data.length; i++ )
			  this.model.data[i].display = columns[this.model.data[i].column]
		}
		this.show_columns()
	},
	filter: function() {
		var stored_filter = {}
 		var name = this.$.filter.value

		stored_filter.filter = name
		var op = this.$.op.value
		stored_filter.op = op 
		var valor = {}
		this.cur_filter = {}
		if (this.$.filtro.getAttribute("class") != "hide")
			if (this.$.filtro.getAttribute("type") == "number") 
				valor[op] = Number(this.$.filtro.value)
		 	else 
				valor[op] = this.$.filtro.value
		else 
			valor[op] = this.$.select.value
		this.cur_filter[name] = valor
		stored_filter.value = valor[op]
		if (this.$.logic.value != "-")
		{
			name = this.$.filter2.value
			op = this.$.op2.value
			stored_filter.logic = this.$.logic.value
			stored_filter.filter2 = name
			stored_filter.op2 = op 
			valor = {}
			var logic_op = this.$.logic.value
			var filtro2 = {}
			if (this.$.filtro2.getAttribute("class") != "hide")
				if (this.$.filtro2.getAttribute("type") == "number") 
					valor[op] = Number(this.$.filtro2.value)
				else 
					valor[op] = this.$.filtro2.value
			else 
				valor[op] = this.$.select2.value
			stored_filter.value2 = valor[op]
			filtro2[name] = valor
			var filtro = this.cur_filter
			this.cur_filter = {}
			this.cur_filter[logic_op] = [filtro, filtro2]	
		}
		localStorage["Attribute-list-filter"] = JSON.stringify(stored_filter)
		this.result_set = this.data.chain().find(this.cur_filter).simplesort(this.cur_sort.field, this.cur_sort.isdesc)
		this.filtered_data = []
		this.filtered_data = this.result_set.data()
		this.regs = this.filtered_data.length + " reg"
	},
	hide_sort_icons: function() {
		this.$.id_sort_d.classList.add("hide")
		this.$.pos_sort_d.classList.add("hide")
		this.$.model_name_sort_d.classList.add("hide")
		this.$.attribute_sort_d.classList.add("hide")
		this.$.description_sort_d.classList.add("hide")
		this.$.type_sort_d.classList.add("hide")
		this.$.required_sort_d.classList.add("hide")
		this.$.hide_sort_d.classList.add("hide")
		this.$.omit_sort_d.classList.add("hide")
		this.$.textarea_cols_sort_d.classList.add("hide")
		this.$.textarea_rows_sort_d.classList.add("hide")
		this.$.enum_sort_d.classList.add("hide")
		this.$.enumdes_sort_d.classList.add("hide")
		this.$.ref_model_name_sort_d.classList.add("hide")
		this.$.model_key_sort_d.classList.add("hide")
		this.$.key_type_sort_d.classList.add("hide")
		this.$.model_display_name_sort_d.classList.add("hide")
		this.$.maxLength_sort_d.classList.add("hide")
		this.$.min_sort_d.classList.add("hide")
		this.$.max_sort_d.classList.add("hide")
	},
	sort_by_field: function(e) {
		var field = e.target.classList[0].replace('col_','')

		this.hide_sort_icons()
		this.sort(field)
		if (this.cur_sort.isdesc)
			this.$[field+"_sort"].setAttribute("icon", "arrow-drop-down")
		  else
			this.$[field+"_sort"].setAttribute("icon", "arrow-drop-up")
		this.$[field+"_sort_d"].classList.remove("hide")	
	},
	sort: function(field) {
		if (this.cur_sort.field == field)
			this.cur_sort.isdesc = !this.cur_sort.isdesc
		 else
			this.cur_sort = { field: field, isdesc: false}
		this.result_set = this.data.chain().find(this.cur_filter).simplesort(this.cur_sort.field, this.cur_sort.isdesc)
		this.filtered_data = this.result_set.data()
	},
	input_type2: function() {
		this.input_type(2)
	},
	input_type: function(n) {
	if (n!= 2)
	{
		this.$.filtro.value = ""
		var column = this.model.find({ "column": this.$.filter.value})
	} 
	else
	{
		this.$.filtro2.value = ""
		var column = this.model.find({ "column": this.$.filter2.value})
	}
	if (column[0].type)
	{
		var tipo = ""
		switch(column[0].type) {
		case "string":
			tipo = "text"
		break;
		case "boolean":
			tipo = "boolean"
		break;
		case "integer":
			tipo = "number"
		break;
		case "float":
			tipo = "float"
		break;
		case "date":
			tipo = "date"
		break;
		default:
			tipo = "text"
		}
		if (n!= 2)
		{
			this.$.select.className = "hide"
			this.$.filtro.className = ""
			this.tipo = tipo
		} 
		else
		{
			this.$.select2.className = "hide"
			this.$.filtro2.className = ""
			this.tipo2 = tipo
		}	
	}
	else
	{
		if (n!= 2)
		{
			this.$.select.className = ""
			this.$.filtro.className = "hide"
			this.opts = []
			for (i=0; i< column[0].enum.length; i++)
				this.push("opts", {"op": column[0].enum[i], "des": column[0].enumdes[i]})
		}
		else
		{
			this.$.select2.className = ""
			this.$.filtro2.className = "hide"
			this.opts2 = []
			for (i=0; i< column[0].enum.length; i++)
				this.push("opts2", {"op": column[0].enum[i], "des": column[0].enumdes[i]})
		}
	}
	},
	menu: function() {
		
	},
	print: function() {

		window.print()
	},
	download: function() {

		var x2js = new X2JS();
		var datoi = this.data.data
		for (i=0; i<datoi.length; i++)
		{
			delete datoi[i].$loki
			delete datoi[i].meta
			delete datoi[i].createdAt
			delete datoi[i].updatedAt
		}
		var dato = { "data": datoi }
		var xml_data = x2js.json2xml_str(dato)
		xml_data = "<x>"+xml_data+"</x>"
		this.download_data = 'data:application/xml;charset=utf-8,'+xml_data
		this.$.link.click()		
	},
	item_menu_toggle: function(e){
		this.key = Number(e.toElement.offsetParent.key)
		this.$.menu_dialog.style.top = e.toElement.offsetParent.offsetTop+20+"px"
		this.$.menu_dialog.style.left = "30px"
		this.$.menu_dialog.open()
	},
  display: function(e) {

	this.$.menu_dialog.close()
	var filtro = {"id": this.key}
	var item = this.data.find(filtro)[0]
	this.$.Attribute_display_dialog.open_display_dialog(item)
  },
  edit: function(e) {

	this.$.menu_dialog.close()
	var filtro = {"id": this.key}
	var item = this.data.find(filtro)[0]
	this.$.Attribute_edit_dialog.open_dialog(item)
  },
  delete: function(e) {

	this.$.menu_dialog.close()
	var filtro = {"id": this.key}
	var item = this.data.find(filtro)[0]
	this.$.Attribute_delete_dialog.open_delete_dialog(item)
  },
  new: function() {

	this.$.Attribute_new_dialog.open_dialog(this.model_par)
  },
  reload: function() {
	this.$.ajax.generateRequest()
  },
  load_data: function() {

	while(this.data.data[0]) {
        this.data.remove(this.data.data[0])
      }
	/** Validate Resource Authorized **/
	if (this.$.ajax2.lastResponse.auth_msg)
	{
		alert(this.$.ajax2.lastResponse.auth_msg)
		return
	}
	for (i=0; i< this.$.ajax.lastResponse.length; i++)
	{
		if (this.$.ajax.lastResponse[i].model){
			this.$.ajax.lastResponse[i].model_id = this.$.ajax.lastResponse[i].model.id
			this.$.ajax.lastResponse[i].model_name = this.$.ajax.lastResponse[i].model.name
		} else
		{
			this.$.ajax.lastResponse[i].model_id = 0
			this.$.ajax.lastResponse[i].model_name = ""
		}
		this.$.ajax.lastResponse[i].type_des= this.enums.type[this.$.ajax.lastResponse[i].type]
		this.$.ajax.lastResponse[i].required_des= this.enums.required[this.$.ajax.lastResponse[i].required]
		this.$.ajax.lastResponse[i].hide_des= this.enums.hide[this.$.ajax.lastResponse[i].hide]
		this.$.ajax.lastResponse[i].omit_des= this.enums.omit[this.$.ajax.lastResponse[i].omit]
		if (this.$.ajax.lastResponse[i].ref_model){
			this.$.ajax.lastResponse[i].ref_model_id = this.$.ajax.lastResponse[i].ref_model.id
			this.$.ajax.lastResponse[i].ref_model_name = this.$.ajax.lastResponse[i].ref_model.name
		} else
		{
			this.$.ajax.lastResponse[i].ref_model_id = 0
			this.$.ajax.lastResponse[i].ref_model_name = ""
		}
		this.$.ajax.lastResponse[i].key_type_des= this.enums.key_type[this.$.ajax.lastResponse[i].key_type]
		if (this.$.ajax.lastResponse[i].model_display){
			this.$.ajax.lastResponse[i].model_display_id = this.$.ajax.lastResponse[i].model_display.id
			this.$.ajax.lastResponse[i].model_display_name = this.$.ajax.lastResponse[i].model_display.name
		} else
		{
			this.$.ajax.lastResponse[i].model_display_id = 0
			this.$.ajax.lastResponse[i].model_display_name = ""
		}	
		this.data.insert(this.$.ajax.lastResponse[i])
	}
	this.filter()
  },
  ajax_error: function() {

	console.log(this.$.ajax.lastError)
	alert("<%= lng('Error Processing Request: ')%>", this.$.ajax.lastError)
  }
//USER POINT - List Functions
//END USER POINT - List Functions
});
</script>
</dom-module>
<top-bar><%= lng("%s %s",lng("List"),lng("Atributo"))%></top-bar>
<paper-material class="card" elevation="2">
	<Attribute-list id="Attribute_list"></Attribute-list>
</paper-material>
</body>
</html>
